@CHARSET "UTF-8";



#p{
	width:938px;
	margin:0 auto;
	color:#e53333;
	padding:10px;
	background:#feffe6;
	border:1px solid #e6d8b9;
	line-height:180%;
	position:relative;
}
#p a{
	color:#080;
}
#p #bdshare{
	position:absolute;
	bottom:5px;
	right:10px;
}

#allnew{
	width:960px;
	margin:5px auto;
}
#allnew .headerlist{
	height:33px;
	line-height:33px;
	font-size:14px;
}
#allnew .headerlist li{
	float:left;
	width:160px;	
}
#allnew .headerlist li.last{
}
#allnew .headerlist li em{
	font-style:normal;
	display:block;
	padding:0 0 0 20px;
	font-weight:bold;
	color:#333;
	border-right:1px solid #dedede;
	border-top:1px solid #dedede;
	background:#fcfcfc;
	height:32px;
}
#allnew .headerlist li span{
	position:relative;
	top:-3px;
}

#allnew .headerlist li.hotrec span{
	background-position:0 -40px;
	top:-6px;
	width:20px;
	height:20px;
}
#allnew .headerlist li.hotrec em{
	border-left:1px solid #dfdfdf;
}
#allnew .headerlist li.hotrec .on{
	color:#e12160;
	border:1px solid #e12160;
	border-bottom:none;
	border-top:2px solid #e12160;
	position:relative;
	top:1px;
	height:32px;
	background:#fff;
}
#allnew .headerlist li.hotrec .on span{
	background-position:0 -60px;
}
#allnew .headerlist li.new_teleplay span{
	background-position:-21px -40px;
}
#allnew .headerlist li .on{
	position:relative;
	top:1px;
	height:32px;
	background:#fff;
}
#allnew .headerlist li.new_teleplay .on{
	color:#339900;
	border:1px solid #339900;
	border-bottom:none;
	border-top:2px solid #339900;
	
}
#allnew .headerlist li.new_teleplay .on span{
	background-position:-21px -60px;
}
#allnew .headerlist li.new_movie span{
	background-position:-41px -40px;
}
#allnew .headerlist li.new_movie .on{
	color:#1f87cb;
	border:1px solid #1f87cb;
	border-bottom:none;
	border-top:2px solid #1f87cb;
}
#allnew .headerlist li.new_movie .on span{
	background-position:-41px -60px;
}
#allnew .headerlist li.new_cartoon span{
	background-position:-61px -40px;
}
#allnew .headerlist li.new_cartoon .on{
	color:#ab7800;
	border:1px solid #ab7800;
	border-bottom:none;
	border-top:2px solid #ab7800;
}
#allnew .headerlist li.new_cartoon .on span{
	background-position:-61px -60px;
}
#allnew .headerlist li.new_variety span{
	background-position:-82px -42px;
	top:-2px;
}
#allnew .headerlist li.new_variety .on{
	color:#8605c2;
	border:1px solid #8605c2;
	border-bottom:none;
	border-top:2px solid #8605c2;
}
#allnew .headerlist li.new_variety .on span{
	background-position:-82px -62px;
}
#allnew .headerlist li.new_music span{
	background-position:-102px -40px;
}
#allnew .headerlist li.new_music .on{
	color:#f53254;
	border:1px solid #f53254;
	border-bottom:none;
	border-top:2px solid #f53254;
}
#allnew .headerlist li.new_music .on span{
	background-position:-102px -60px;
}

#new2,#new3,#new4,#new5,#new6{
	display:none;
}
#allnew .list{
	width:958px;
	background:#fff;
}
#allnew .list span{
	padding:0 5px 0 0;
}

#allnew .list1{
	border:1px solid #e12160;
}
#allnew .list1 span{
	color:#e12160;
}
#allnew .list2{
	border:1px solid #390;
}
#allnew .list2 span{
	color:#390;
}
#allnew .list3{
	border:1px solid #1f87cb;
}
#allnew .list3 span{
	color:#1f87cb;
}
#allnew .list4{
	border:1px solid #ab7800;
}
#allnew .list4 span{
	color:#ab7800;
}
#allnew .list5{
	border:1px solid #8605c2;
}
#allnew .list5 span{
	color:#8605c2;
}
#allnew .list6{
	border:1px solid #f53254;
}
#allnew .list6 span{
	color:#f53254;
}
#allnew .list dl{
	float:left;
	width:159px;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	position:relative;
	height:228px;
}
#allnew .list dl.first{
	width:158px;
}
#allnew .list dl.last{
	border-right:none;
}
#allnew .list dl dt{
	padding:15px 0 0 20px;
}
#allnew .list dl dt a{
	width:110px;
	height:150px;
	padding:2px;
	border:1px solid #fff;
	display:block;
	color:#666;
	text-align:center;
}
#allnew .list dl dt a:hover{
	border:1px solid #1f87cb;
}
#allnew .list dl dt a img{
	width:110px;
	height:150px;
	display:block;
}
#allnew .list dl dd.small_bg{
	width:110px;
	position:absolute;
	top:148px;
	left:23px;
	height:20px;
	line-height:20px;
	background:#000;
	filter:alpha(opacity=50);
	opacity:0.5;
}
#allnew .list dl dd.small_title{
	width:100px;
	position:absolute;
	top:148px;
	left:23px;
	height:20px;
	line-height:20px;
	color:#fff;
	text-align:right;
	padding:0 10px 0 0;
}
#allnew .list dl dd.title{
	text-align:center;
	padding:5px 0;
}
#allnew .list dl dd.title a{
	color:#666;
	font-size:14px;
}
#allnew .list dl dd.title a:hover{
	color:#e12160;
}
#allnew .list dl dd.actor{
	color:#999;
	text-align:center;
	padding:0 0 15px 0 ;
}
#allnew ul.new_lists{
	float:left;
	padding:15px 0 15px 15px;
}
#allnew ul.new_lists li{
	float:left;
	width:220px;
	border-bottom:1px dotted #ccc;
	margin:0 12px 0 0;
	padding:10px 0 10px 0;
	font-family:Tahoma;
	
}
#allnew ul.new_lists li a{
	color:#333;
}
#allnew ul.new_lists li a:hover{
	color:#e12160;
}




.nav_style{
	width:958px;
	margin:5px auto;
	border:1px solid #eee;
	background:#fff;
}
.nav_style .left{
	width:240px;
	float:left;
	background:#fcfcfc;
	border-right:1px solid #eee;
	height:520px;
	.overflow:hidden;
}

.nav_style .left h2{
	font-size:12px;
	height:32px;
	border-bottom:1px solid #eee;
	padding:10px;
	position:relative;
}
.nav_style .left h2 em{
	position:absolute;
	top:-3px;
	left:-30px;
	background:url(../images/index_type.gif);
	width:32px;
	height:38px;
	z-index:4;
}
.nav_style .left h2 a.title{
	height:30px;
	display:block;
	width:160px;
	float:left;
	text-indent:-9999px;
	background:url(../images/index_type.gif);
}
.nav_teleplay{
	border-top:3px solid #390;
}
.nav_movie{
	border-top:3px solid #1f87cb;
}
.nav_cartoon{
	border-top:3px solid #ab7800;
}
.nav_variety{
	border-top:3px solid #8400c1;
}
.nav_teleplay .left h2 a.title{
	background-position: -32px 0;
}
.nav_movie .left h2 a.title{
	background-position:-32px -40px;
}
.nav_cartoon .left h2 a.title{
	background-position: -32px -80px;
	width:185px;
}
.nav_variety .left h2 a.title{
	background-position: -32px -120px;
	width:185px;
}
.nav_teleplay .left h2 em{
	background-position: 0 0;
}
.nav_movie .left h2 em{
	background-position: 0 -40px;
}
.nav_cartoon .left h2 em{
	background-position: 0 -80px;
}
.nav_variety .left h2 em{
	background-position: 0 -120px;
}
.nav_style .left h2 a.more{
	float:right;
	height:30px;
	line-height:30px;
	font-weight:normal;
	color:#e12160;
}
.nav_style .left ul{
	padding:10px 20px 20px 20px;
}
.nav_style .left ul.sort{
	border:none;
}
.nav_style .left ul li{
	line-height:27px;
	.line-height:28px;
	border-bottom:1px dashed #dcdcdc;
	overflow:hidden;
	white-space:nowrap;
}
.nav_style .left ul li.title{
	font-size:14px;
	font-weight:bold;
	color:#333;
}
.nav_style .left ul li a{
	color:#333;
}
.nav_style .left ul li a:hover{
	color:#e12160;
}
.nav_style .left ul li span{
	color:#999;
	float:right;
}
.nav_style .left ul li em{
	font-weight:bold;
	color:#666;
	font-family:Tahoma;
}
.nav_style .left ul li em.red{
	color:#e12160;
}
.nav_style .two{
	float:left;
	width:358px;
	height:200px;
	background:#fff;
	position:relative;
}
.nav_style .two dt{
	float:left;
	padding:15px 10px 15px 15px;
}
.nav_style .two dt a{
	padding:3px;
	display:block;
	border:1px solid #fff;
	color:#333;
	width:118px;
	height:160px;
	display:block;
}
.nav_style .two dt a:hover{
	border:1px solid #18c2c8;
}
.nav_style .two dt  a img{
	width:118px;
	height:160px;
	display:block;
	background:url(../images/noimg.gif);
}
.nav_style .two dd{
	line-height:154%;
	color:#666;
	padding:0 8px 0 0;
}
.nav_style .two dd.grade{
	background:url(../images/ui-icon.gif) no-repeat 0 -155px;
	width:35px;
	height:18px;
	line-height:18px;
	padding:0 0 0 5px;
	 position:absolute;
	 color:#fff;
	 top:23px;
	 left:16px;
}
.nav_style .two dd.title{
	padding:18px 0 0 0;
}
.nav_style .two dd.title a{
	font-size:14px;
	font-weight:bold;
	color:#333;
}

.nav_style .two dd.title a:hover{
	color:#e12160;
}
.nav_style .two dd.new{
	color:#e12160;
	font-weight:bold;
}
.nav_style .two dd.info{
	padding:5px 0 5px 0;
	border-bottom:1px dashed #ddd;
	float:left;
	width:192px;
	margin:0 0 5px 0;
}
.nav_style .two dd.actor span{
	display:block;
	float:left;
	height:36px;
}
.nav_style .two dd.actor em{
	display:block;
	float:right;
	height:36px;
	width:163px;
	font-style:normal;
	overflow:hidden;
}
.nav_style .two dd.actor a{
	color:#333;
}
.nav_style .two dd.actor a:hover{
	color:#e12160;
}
.nav_style .first{
	border-right:1px solid #eee;
}

.nav_style .list{
	float:left;
	border:1px solid #eee;
	border-left:none;
	width:118px;
	padding:12px;
	position:relative;
}
.nav_style .last{
	border-right:none;
	width:121px;
}
.nav_style .list dt a{
	padding:3px;
	display:block;
	border:1px solid #fff;
	color:#333;
	width:110px;
	height:150px;
	display:block;
}
.nav_style .list dt a:hover{
	border:1px solid #18c2c8;
}
.nav_style .list dt  a img{
	width:110px;
	height:150px;
	display:block;
	background:url(../images/noimg.gif);
}
.nav_style .list dd.grade{
	background:url(../images/ui-icon.gif) no-repeat 0 -155px;
	width:35px;
	height:18px;
	line-height:18px;
	padding:0 0 0 5px;
	 position:absolute;
	 color:#fff;
	 top:23px;
	 left:13px;
}
.nav_style .list dd.transparent{
	background:#000;
	position:absolute;
	width:110px;
	left:16px;
	top:140px;
	height:25px;
	filter:alpha(opacity=50);
	 -moz-opacity:0.5;
	 -khtml-opacity: 0.5;
	 opacity: 0.5;
	 overflow:hidden;
	 text-indent:-9999px;
}
.nav_style .list .title{
	text-align:center;
	height:25px;
	line-height:25px;
	overflow:hidden;
	
}
.nav_style .list .title a{
	color:#333;
	font-size:14px;
}
.nav_style .list .title a:hover{
	color:#e12160;
}
.nav_style .list dd.new{
	text-align:right;
	position:absolute;
	width:105px;
	padding:0 5px 0 0 ;
	left:16px;
	top:140px;
	height:25px;
	line-height:25px;
	overflow:hidden;
	color:#fff;
}
.nav_style .list .actor{
	color:#999;
	height:20px;
	line-height:20px;
	overflow:hidden;
}
.nav_style ul.ten_list{
	float:left;
	width:627px;
	border-bottom:1px solid #eee;
	margin:10px 0 0 45px;
}

.nav_style ul.ten_list li{
	float:left;
	width:125px;
}
.nav_style ul.ten_list li a{
	color:#333;
	display:block;
	height:30px;
	line-height:30px;
	border-right:1px solid #eee;
	border-top:1px solid #eee;
	background:url(../images/assist-icon.gif) no-repeat;
	padding:0 0 0 35px;
	overflow:hidden;
}
.nav_style ul.ten_list li a:hover{
	color:#e12160;
}
.nav_teleplay ul.ten_list li a{
	background-position:20px 10px;
}
.nav_movie ul.ten_list li a{
	background-position:20px -30px;
}
.nav_cartoon ul.ten_list li a{
	background-position:20px -70px;
}
.nav_variety ul.ten_list li a{
	background-position:20px -110px;
}
.nav_style ul.ten_list li.li_first{
	border-left:1px solid #eee;
}
.nav_style ul.ten_list li.bottom{
	border-bottom:1px solid #eee;
}

#special{
	width:958px;
	margin:0 auto;
	border:1px solid #d9d9d9;
	background:#fff;
}
#special h2{
	background:#f5f5f5;
	height:34px;
	line-height:34px;
	padding:0 0 0 20px;
	color:#333;
	font-size:14px;
	border-bottom:1px solid #d9d9d9;
}
#special h2 span{
	float:right;
	padding:0 20px 0 0;
}
#special h2 span a{
	color:#333;
}

#special ul{
	padding:3px 0 0 0 ;
	border-bottom:1px dashed #dfdfdf;
	width:96%;
	margin:0 0 0 18px;
}
#special ul.none{
	border:none;
}
#special ul li{
	width:100px;
	float:left;
	overflow:hidden;
	white-space:nowrap;
	height:30px;
	line-height:30px;
	margin:0 14px 0 0;
}
#special ul li a{
	color:#333;
}
#special ul li a:hover{
	color:#e12160;
}
#link{
	width:960px;
	margin:0 auto;
}
#link h2{
	height:34px;
	line-height:34px;
	padding:0 0 0 20px;
	color:#333;
	font-size:14px;
}
#link ul{
	padding:0 0 40px 0;
}
#link ul li{
	float:left;
	height:26px;
	line-height:26px;
	overflow:hidden;
}
#link ul li a{
	display:block;
	width:68px;
	padding:0 5px 0 0;
	color:#666;
}
#link ul li a:hover{
	color:#000;
}
	/* ui-sort */
	.ui-sort{
		width: 228px;
		overflow: hidden;
		padding: 3px 0;
		font-size: 14px;
	}	
		.sort-item{
			width: 213px;
			padding: 6px 0 4px 0;
			overflow: hidden;
		}
		.sort-type{
			height: 55px;
		}
		.sort-list{ width: 220px;}
		.sort-list li{
			width: 55px;
			float: left;
			height: 26px;
			line-height: 26px;
			font-size: 14px;
			overflow: hidden;
		}
		#qire-tv .sort-type{ height: 52px;}	
		#qire-tv .sort-type a{ color: #e12160;}
		#qire-tv .sort-star{ height: 60px;}	
		#qire-movie .sort-type{ height: 104px;}		
		#qire-fun .sort-lista{ padding-bottom: 1px;}
		#qire-fun .sort-lista li{ width: 110px; height: 28px; line-height: 28px;}	

