@CHARSET "UTF-8";


#banner{
	background:#ccc;
	padding:10px 0;
}
#banner dl{
	width:960px;
	height:300px;
	display:block;
	margin:0 auto;
	position:relative;
	filter:alpha(opacity=50);
	
}
#banner dl dt img{
	width:960px;
	height:300px;
	display:block;
	
}
#banner dl dd{
	width:240px;
	height:220px;
	display:block;
	position:absolute;
	top:20px;
	right:20px;
	color:#fff;
	font-size:14px;
	padding:20px;
	line-height:21px; 
}
#banner dl dd.bg{
	filter:alpha(opacity=70);
	background:#18c2c8;
	-moz-opacity:0.7;
	 -khtml-opacity: 0.7;
	 opacity: 0.7;
}
#banner dl dd span{
	font-size:22px;
	font-family:'黑体';
	font-weight:bold;
	width:240px;
	display:block;
	padding:0 0 10px 0;
	border-bottom:1px solid #87d6b7;
	margin:0 0 5px 0;
}

#special{
	width:955px;
	max-height:800px;
	background:#fff;
	margin:0 auto;
	border:1px solid #ccc;
	padding:10px 0 0 5px;
	overflow:auto;
}
#special a{
	display:inline;
	width:143px;
	border:1px solid #ccc;
	text-align:center;
	height:30px;
	line-height:30px;
	color:#333;
	background:#f5f5f5;
	float:left;
	margin:0 0 10px 12px;
	overflow:hidden;
}
#special a:hover{
	background:#e12160;
	text-decoration:none;
	color:#fff;
}






