#site_header{
	background-color: #FAFAFA;
	position: relative;
	z-index:9999;
}

/*==========网站顶部区域==========*/
#site_top{
	position: relative;
	z-index: 2;
}
/*=====logo_area=====*/
.logo_area{
	float: left;
	width: 280px;
	margin-top: 10px;
}
.logo a{
	display: block;
	width: 155px;
	height: 60px;
	background: url(../images/site_logo.png) 0 0 no-repeat;
	_background: url(../images/site_logo_8.png) 0 0 no-repeat;
}
.logo a:hover{
	/*background: url(../images/site_logo.png) 0 -50px no-repeat;*/
}

/*=====search_area=====*/
.search_area{
	float: left;
	width: 240px;
	height: 30px;
	margin-top: 20px;
	margin-left: 240px;
	border: 1px solid #93C533;
	/*border-radius: 2px;*/
	background-color: #FAFAFA;
}

#search_form input{
	border: 0;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	vertical-align: middle;
	overflow: hidden;
	color: #555;
}
#keyword{
	float: left;
	width: 206px;
	_width: 190px;
	text-indent: 10px;
	_text-indent: 4px;
	background-color: transparent;
}
#search_button{
	float: right;
	width: 30px;
	height: 30px;
	cursor: pointer;
	border: 1px solid #f9f9f6;
	border-radius: 4px;
	background: url(../images/search.gif) 6px 6px no-repeat #f6f6f6;
}
#search_button:hover {
	background-position: 6px 4px;
}


/*=====user_area=====*/
.user_area{
	float: right;
	width: 200px;
	margin-top: 20px;
	margin-right: 20px;
}
.user_area_item{
	position: relative;
	float: right;
	margin-right: 10px;
}
.user_area_bar {
	position: relative;
	display: inline-block;
	text-align: center;
	color: #111;
	width: 50px;
	height: 30px;
	line-height: 30px;
	background: #e0e0ea;
	border-radius: 2px; 
	cursor: pointer;
}
.user_area_bar:hover{
	color: #fff !important;
	text-decoration: none;
}
.user_area_bar span{
	display: inline-block;
	float: left;
	font-size: 10px;
	text-indent: 6px;
}
.user_area_bar .triangle_down{
	position:relative;
	right:4px;
	top:14px;
	margin:0;
	border-width:3px;
	border-top:5px solid #7C7C7D;
}
.triangle_left,.triangle_down,.triangle_right,.triangle_up{
	border:5px solid transparent;
	display:inline-block;
	width:0;
	height:0;
	font-size:0;
	overflow:hidden;
}
.triangle_left{border-right:5px solid #000}
.triangle_down{border-top:5px solid #000}
.triangle_right{border-left:5px solid #000}
.triangle_up{border-bottom:5px solid #000}

.user_area_bar:hover .triangle_down{
	border-top-color: #fff; 
}


/*==========site header end==========*/




/*==========site_nav==========*/
.site_nav{
	position: relative;
	height: 34px;
	/*background-color: #262626;*/
	background-color: #249FF1;
	overflow: hidden;
}
.site_nav li{
	float: left;
	height: 34px;
}
.site_nav li.current{
	/*background-color: #0B0D0E;*/
	background-color: #4FC4FB;
}
.site_nav li a{
	/*color: #C2C2C2;*/
	color: #FFF;
	font-size: 14px;
	display: inline-block;
	height: 34px;
	line-height: 34px;
	padding: 0 16px;
}
.site_nav li a:hover{
	text-decoration: none;
	color: #fff !important;
}

.site_nav .fn_right{
	float: right;
}

/*小导航固定在顶部*/
.site_nav.mini_nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	box-shadow: 0 1px 4px #222;

	_position:absolute;
	_top:expression(documentElement.scrollTop);
}

/*==========subnav==========*/
.site_subnav{
	position: relative;
	height: 45px;
	background-color: #f0f0f0;
	background: url(../images/subnav_bg.jpg) 0 0 repeat-x;
	overflow: hidden;
}
.site_subnav_tv,.site_subnav_mv{
	float: left;
	height: 40px;
	margin-left: 10px;
	overflow: hidden;
}
.site_subnav_mv{
	float: right;
}
.site_subnav h3{
	float: left;
	font-size: 14px;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	margin-right: 10px;
}
.site_subnav_title_tv{
	color: #FF3300;
}
.site_subnav_title_mv{
	color: #669933;
}
.site_subnav_list{
	float: left;
	position: relative;
	height: 40px;
	line-height: 40px;
}

.site_subnav_item{
	float: left;
	margin-right: 10px;
}
.site_subnav_item a{
	color: #222;
	font-size: 14px;
}
.site_subnav_item a:hover{
	text-decoration: none;
}