.vod_list.head_bar{
	margin-top:0;
}

.vod_list.head_bar .sort{
	+display:inline;
	+zoom:1;
	float:right;
	height:21px;
	line-height:21px;
	line-height:24px\9;
	+line-height:22px;
	_line-height:24px;
	margin:5px 3px 0 0;
	padding:0 6px;
	+font-family:simsun;
}
